<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommunityEFProviderWrappers.EFCachingProvider" version="1.0.0" targetFramework="net452" />
  <package id="CommunityEFProviderWrappers.EFProviderWrapperToolkit" version="1.0.0" targetFramework="net452" />
  <package id="CommunityEFProviderWrappers.EFTracingProvider" version="1.0.0" targetFramework="net452" />
  <package id="Eksponent.ChangeTracker" version="1.52" targetFramework="net452" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="odp.net.managed" version="121.1.2" targetFramework="net40-Client" />
  <package id="System.Linq.Dynamic" version="1.0.4" targetFramework="net452" />
</packages>